html, body {
    background-color: #fff;
    /*color: #636b6f;*/
    /*font-family: 'Raleway', sans-serif;*/
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}
      @media only screen and (max-width: 770px) {
        html, body{
                font-family: Arial, Helvetica, sans-serif;
        }
    }



.full-height {
    height: 100vh;
}

.flex-center {
    align-items: top;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.rwbtn{
        color: #fff;
        background-color: #BF3D3F;
        border:1px solid #fff; 
        border-radius: 1em;
        font-size: 20px;
        padding: .5em 1em;
        margin-right: .25em;
    
      }
      .rwbtn:hover{
            background-color: #fff;
            color: #BF3D3F;
            border:1px solid #BF3D3F; 
      }
      @media only screen and (max-width: 770px) {
        .rwbtn{
        color: #fff;
        background-color: #BF3D3F;
        border:1px solid #fff; 
        border-radius: 1em;
        font-size: 15px;
        padding: .5em 0em;
        margin-right: .25em;
        width: 80%;
        }
        .rwbtn:hover{
        background-color: #fff;
        color: #BF3D3F;
        border:1px solid #BF3D3F; 
        }
      }


.ybbtn{
        color: #000;
        background-color: #FBD600;
        border:1px solid #000; 
        border-radius: 1em;
        font-size: 20px;
        padding: .5em 1em;
        margin-right: .25em;
    
      }
      .ybbtn:hover{
            background-color: #000;
            color: #FBD600;
            border:1px solid #FBD600; 
      }
      @media only screen and (max-width: 770px) {
        .ybbtn{
        color: #000;
        background-color: #FBD600;
        border:1px solid #000; 
        border-radius: 1em;
        font-size: 15px;
        padding: .5em 0em;
        margin-right: .25em;
        width: 90%;
        }
        .ybbtn:hover{
        background-color: #000;
        color: #FBD600;
        border:1px solid #FBD600; 
        }
      }


.wrfbtn{        
        background-color: #fff;
        color: #BF3D3F;
        border:1px solid #BF3D3F; 
        border-radius: 1em;
        font-size: 20px;
        padding: 0em 1em;
        margin-right: .25em;
      }
      .wrfbtn:hover{
        color: #fff;
        background-color: #BF3D3F;
        border:1px solid #fff; 

      }





.rwfbtn{
        color: #fff;
        background-color: #BF3D3F;
        border:1px solid #fff; 
        border-radius: 1em;
        font-size: 20px;
        padding: 0em 1em;
        margin-right: .25em;
      }
      .rwfbtn:hover{
        background-color: #fff;
        color: #BF3D3F;
        border:1px solid #BF3D3F; 
      }

.ybfbtn{
        color: #000;
        background-color: #FBD600;
        border:1px solid #000; 
        border-radius: 1em;
        font-size: 20px;
        padding: 0em 1em;
        margin-right: .25em;
      }
      .ybfbtn:hover{
        background-color: #000;
        color: #FBD600;
        border:1px solid #FBD600; 
      }
/*    @media only screen and (max-width: 770px) {
        .ybfbtn{
            width: 275px;
        }
    }*/

    @media only screen and (max-width: 770px) {
        .mobile{
            margin: 0;
            padding: 0;
        }
    }



.form-control{
    margin: 5px 0px;
}


.redform-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid red;
    border-radius: 4px;
}

      .errs{
        color: red;
      }



#copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 1em;
}

i { 
    cursor: pointer; 
    color:#489fdf;
}

